Package: salishan-keyboard
Version: 1.0
Section: utils
Priority: optional
Architecture: all
Maintainer: Miguel Rivas <romala.57exq@simplelogin.fr>
Homepage: https://jmiguelrivas.github.io
Description: Salishan keyboard layout

